[submodule ".registry"]
	path = .registry
	url = https://github.com/gavinsimpson/universe
	shallow = true
	branch = HEAD
[submodule "gratia"]
	path = gratia
	url = https://github.com/gavinsimpson/gratia
	shallow = true
	registered = true
[submodule "permute"]
	path = permute
	url = https://github.com/gavinsimpson/permute
	shallow = true
	registered = true
[submodule "analogue"]
	path = analogue
	url = https://github.com/gavinsimpson/analogue
	shallow = true
	registered = true
[submodule "analogueExtra"]
	path = analogueExtra
	url = https://github.com/gavinsimpson/analogueExtra
	shallow = true
	registered = true
[submodule "ggvegan"]
	path = ggvegan
	url = https://github.com/gavinsimpson/ggvegan
	shallow = true
	registered = true
[submodule "cocorresp"]
	path = cocorresp
	url = https://github.com/gavinsimpson/cocorresp
	shallow = true
	registered = true
[submodule "coenocliner"]
	path = coenocliner
	url = https://github.com/gavinsimpson/coenocliner
	shallow = true
	registered = true
[submodule "temporalEF"]
	path = temporalEF
	url = https://github.com/gavinsimpson/temporalEF
	shallow = true
	registered = true
